body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #49BBBD;
    width: auto;
}
nav{
    display: flex;
    gap: 50px;
    margin-left: 80px;
}
#logo{
    margin: 10px 10px 10px 40px;
    color: white;
    font-weight: bold;
   /* border: 1px solid black;*/
}
a{
    color: white;
    font-size: 13px;
    font-weight:normal;
    text-decoration: none;
}

#sign ,#log {
    border-radius: 15px;
    width: 80px;
    height: 30px;
    border: none;
    color: rgb(83, 83, 83);

}
#button{
    display: flex;
    gap: 20px;
}
#sign{
    opacity: 0.7;
}
.main{
   
    background-color: #d4e7fb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
width: 400px;
height: 250px;

}
.first,.second{
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
margin: 30px;

}
#related{
     width: 74%;
  margin:35px auto 0px;
  
}
#dataContainer{
    display: flex;
    flex-direction: row;
    gap: 38px;
    justify-content: space-between;
}
h3{
    margin-bottom: 0px;
}

#dataContainer2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

#markting{
      width: 90%;
  margin:90px auto 15px;
}


footer{
   background-color: #252641;
   display: flex;
   justify-content: center;
   width: auto;
   flex-direction: column;
   gap: 15px;
   padding: 100px 150px;
   align-items: center;
}
span,#end{
    color: white;
}

#Form{
    background-color: white;
    padding: 200px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

input{
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border: 1px #49BBBD solid;
     display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
   background-color:  #49BBBD;
   display: flex;
   justify-content: center;
   border: none ;
   border-radius: 25px;
   padding: 13px;
   width: 200px;
    height: 40px;
    color: white;
    margin-left: 25px;
}

p{
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

h5{
     font-size: 12px;
     font-weight: normal;
     color: rgb(136, 137, 137);

}
